demos/flow.json
[{"id":"8e8048ca.97df18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9d0bd807.b922e","type":"receive","z":"8e8048ca.97df18","name":"","serial":"000062d0","data_in":"payload","x":460,"y":360,"wires":[["63c279df.4b597"],["8e4b8ab.2937678"]]},{"id":"63c279df.4b597","type":"debug","z":"8e8048ca.97df18","name":"Error Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":300,"wires":[]},{"id":"c98b6c3e.286e18","type":"inject","z":"8e8048ca.97df18","name":"Get \"ACTUAL LVL\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"adr\":1,\"value\":160}","payloadType":"json","x":270,"y":360,"wires":[["9d0bd807.b922e"]]},{"id":"8e4b8ab.2937678","type":"debug","z":"8e8048ca.97df18","name":"Received data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":400,"wires":[]},{"id":"347202dd.7a8946","type":"comment","z":"8e8048ca.97df18","name":"JSON Object","info":"","x":250,"y":320,"wires":[]},{"id":"8241d988.c1d","type":"comment","z":"8e8048ca.97df18","name":"JSON Object","info":"","x":650,"y":260,"wires":[]},{"id":"dc0802fe.2b2fa8","type":"comment","z":"8e8048ca.97df18","name":"JSON Object","info":"","x":650,"y":360,"wires":[]},{"id":"9efdea80.417c08","type":"comment","z":"8e8048ca.97df18","name":"LW14UDR","info":"","x":460,"y":320,"wires":[]},{"id":"483677ac.5c38e","type":"debug","z":"8e8048ca.97df18","name":"Error Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":120,"wires":[]},{"id":"e9f8bf2c.841e1","type":"send","z":"8e8048ca.97df18","name":"","serial":"000062d0","x":450,"y":120,"wires":[["483677ac.5c38e"]]},{"id":"992137fc.0f429","type":"inject","z":"8e8048ca.97df18","name":"JSON data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mode\":0,\"type\":2,\"adr\":1,\"value\":123}","payloadType":"json","x":260,"y":120,"wires":[["e9f8bf2c.841e1"]]},{"id":"5ca005c.15e5dfc","type":"comment","z":"8e8048ca.97df18","name":"JSON Object","info":"","x":630,"y":80,"wires":[]},{"id":"6da0c552.f63adc","type":"comment","z":"8e8048ca.97df18","name":"LW14UDR","info":"","x":460,"y":80,"wires":[]},{"id":"57c6cf53.64d148","type":"comment","z":"8e8048ca.97df18","name":"JSON Object","info":"","x":250,"y":80,"wires":[]}]